<!DOCTYPE html>
<html>

<head>
    <title>Password Change</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Password Change</h1>
    <form method="post" action="{% url 'frontend:change-password' %}">
        {% csrf_token %}
        {% for error in messages %}
        {{ error }}
        {% endfor %}
        <p>
            <font style="font-size:24px;">
                Old Password: <input type='password' name='old_password' style="font-size: 24px;" required><br>
                New Password: <input type="password" id="new_password" name="new_password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" style="font-size:24px;" onchange="validatePassword()"
                    required><br>
                Confirm New Password: <input type="password" id="new_password_confirmation"
                    name="new_password_confirmation" style="font-size:24px;" onkeyup="validatePassword()" required><br>
                <br>
                <button id="submit" type="submit" value="Submit" style="font-size:24px;" disabled>Submit</button>
            </font>
        <div id="message" style="display: none;">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
        </p>
    </form>
    <script>
        function validatePassword() {
            var password = document.getElementById("new_password")
            var confirm_password = document.getElementById("new_password_confirmation");
            if (password.value != confirm_password.value) {
                confirm_password.reportValidity("Passwords Don't Match");
                document.getElementById('submit').disabled = true;
            } else {
                confirm_password.reportValidity('');
                document.getElementById('submit').disabled = false;
            }
        }
        var myInput = document.getElementById("new_password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid"); 
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }
    </script>
</body>

</html>